body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
form {
  text-align: center;
  padding: 10px;
}
h1 {
  color: #000000;
  padding: 15px;
  font-size: 30px;
  font-weight: 500;
}

p {
  text-align: center;
  font-size: 11px;
}

.today {
  display: block;
  padding: 15px;
  font-size: 13px;
}

.weather {
  background-color: #e5e6e8;
  border: solid;
  border-color: #5b6275;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 450px;
  padding: 20px;
}
.list {
  color: #000000;
  font-size: 25px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
}
.day {
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  text-align: center;
  color: #000000;
}
.searchButton {
  background: linear-gradient(
    to left,
    #9400d3,
    #4b0082,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff7f00,
    #ff0000
  );
  border: none;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: #000000;

  font-size: 15px;
  margin: 15px auto;
  padding: 5px 10px;
  text-transform: uppercase;
}

#date {
  font-size: 15px;
  font-weight: 400;
}
#temp {
  font-size: 25px;
}
#deg {
  font-size: 25px;
}
